* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

.header {
  height: 70px;
  width: 100vw;
  overflow: hidden;
  background: black;
  padding: 0 8%;
  position: fixed;
  z-index: 9999;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 160px;
  margin-bottom: 3px;
}

.nav-link {
  padding: 28px 0;
}

.nav-link li {
  display: inline-block;
  margin: 0 15px;
}

.nav-link li a {
  text-decoration: none;
  color: white;
  padding: 5px 0;
  font-weight: 300;
  position: relative;
}

.nav-link li a::after {
  content: '';
  background: #ff3d00;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.5s;
}

.nav-link li a:hover::after {
  width: 100%;

}

.btn {
  background: rgb(104, 106, 112);
  color: #fff;
  padding: 6px 15px;
  border-radius: 6px;
  cursor: pointer;
  border-style: none;

}

.videos {
  width: 100%;
  min-height: 700px;
}

.video-message {
  position: absolute;
  top: 0;
  background: rgb(0, 0, 0);
  background: rgbA(0, 0.5, 0.5, 0.5);
  width: 100%;
  height: 700px;
  padding-left: 50px;
  padding-top: 120px;
}

.video-message h2 {
  font-size: 50PX;
  color: rgb(79, 144, 192);
  font-weight: 600;
}

.video-message h3 {
  font-size: 20px;
  color: white;
}

.video-message span {
  color: white;
  font-size: 20px;
}

.video-message h5 {
  color: white;
}

.videos {
  height: 700px;
}

@media only screen and (max-width: 600px) {

  .video-message h2 {
    font-size: 25px;
  }
}

.services {
  width: 100%;
  height: 870px;
  background-color: black;
}

.ideas h1 {
  font-size: 52px;
  color: rgb(79, 144, 192);
}

.ideas h3 {
  font-size: 20px;
  color: white;
}

.ideas {
  padding-top: 190px;
}

.container {
  position: relative;
  width: 19.5%;
  color: white;
  margin-top: 30px;
  height: 240px;
  border-radius: 7px;
  background-color: rgb(10, 10, 10);
}

.image {
  width: 140px;
  height: 120px;
  height: auto;
}

.container p {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding-top: 5px;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 7px;
  height: 100%;
  width: 100%;
  font-size: 10px;
  opacity: 0;
  transition: .5s ease;
  background: linear-gradient(45deg, #8481FA, #38C9C8);

}

.container:hover .overlay {
  opacity: 1;
}

.overlay text {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.overlay a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.text {
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 15px;
  text-align: center;
  font-weight: 100px;
}

.text a {
  color: rgb(19, 18, 18);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}


.service {
  display: flex;
  gap: -10px;
}

@media only screen and (max-width: 991px) {
  .services {
    width: 100%;
    height: min-content;
  }

  .ideas h1 {
    font-size: 35px;
  }

  .ideas h3 {
    font-size: 20x;
  }
}

@media only screen and (max-width: 850px) {
  .service {
    flex-direction: column;
  }

  .text p {
    font-size: 12px;

  }
  .container{
    width: 250px;
  }

}


.challenge a {
  font-size: 20px;
}

.challenge p {
  font-size: 20px;
  color: rgb(245, 240, 240);
}

.challenge {
  padding-top: 100px;
  text-align: center;
}


.codeleap {
  width: 100%;
  height: 750px;
  background-color: rgb(255, 244, 244);
}

.codelep h1 {
  font-size: 52px;
  color: black;
  padding-top: 100px;
  text-align: center;
}


.box {
  width: 100%;
  padding-top: 80px;
  font-size: 20px;
  justify-content: space-around;
  display: flex;
}

.button {
  font-size: 38px;
  border-radius: 5px;
  border-style: none;
  padding: 10px 10px 10px 10px;
  background: linear-gradient(45deg, #8481FA, #38C9C8);
}

.about {
  justify-content: center;
  text-align: center;
}


@media only screen and (max-width: 1000px) {
  .box {
    flex-direction: column;
    align-items: center;
    display: flex;
    font-size: 18px;
  }

  .codeleap {
    width: 100%;
    height: min-content;
  }

  .codelep {
    font-size: 25px;
  }

  .about .button {
    padding: 5px 5px 5px 5px;
    margin-bottom: 10px;

  }
}


.simple {
  background-color: black;
  width: 100%;
  height: 980px;
}

.sim h1 {
  color: #fafafc;
  padding-top: 30px;
  font-size: 45px;
  text-align: center;
}

.cardall {
  width: 100%;
  height: 600px;
}

.card {
  border-radius: 30px;
  width: 25%;
  box-shadow: 0 8px 8px 0 rgba(243, 236, 236, 0.2), 0 8px 20px 0 rgba(247, 240, 240, 0.19);
  height: 400px;
}

.card-header {
  font-size: 20px;
  background: linear-gradient(45deg, #8481FA, #38C9C8);

}

.card-title {
  font-size: 29px;
  color: white;
  text-align: center;
  margin: 0;
}

.card-content {
  align-content: center;
  height: 400px;
  font-size: 13px;
  color: black;
  background-color: rgb(250, 246, 245);
}


.card-content p {
  font-size: 60px;
  color: white;
  text-align: center;
}


.card-content h1 {
  font-size: 17px;
  text-align: center;
  color: rgb(211, 211, 7);
}

.card-content h2 {
  font-size: 17px;
  color: rgb(211, 211, 7);
  text-align: center;
}

.card-content h3 {
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
  color: rgb(17, 17, 17);

}

.card-content h4 {
  font-size: 19px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: rgb(2, 2, 2);

}

.card-footer button {
  background: linear-gradient(45deg, #8481FA, #38C9C8);
  border-radius: 8px;
  border-style: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 15px;
}


.card-footer a {
  font-size: 20px;
  color: rgb(8, 8, 8);
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

.cardall {
  justify-content: center;
  justify-content: space-evenly;
  display: flex;
}

.want h2 {
  font-size: 17px;
  color: rgb(247, 244, 244);
  text-align: center;
}

.want p {
  text-align: center;
  padding-top: 40px;
  color: #8481FA;

}

@media only screen and (max-width: 930px) {
  .cardall {
    height: min-content;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 250px;
  }

  .card-header h1 {
    font-size: 19px;
  }

  .card-content h4 {
    font-size: 13px;
  }

  .card-content h3 {
    font-size: 13px;
  }

  .simple {
    width: 100%;
    height: min-content;
  }
}



.ready {
  width: 100%;
  color: white;
  height: 600px;
  background: linear-gradient(45deg, #8481FA, #38C9C8);
}

.allover {
  width: 100%;
  padding-top: 80px;
  font-size: 15px;
  gap: 15px;
  padding: 25px;
  justify-content: space-around;
  display: flex;
}

.getbtn {
  margin-left: 10px;
}

.button-1 {
  font-size: 23px;
  border-radius: 5px;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  border-style: none;
  background-color: white;
}

@media only screen and (max-width: 930px) {
  .ready {
    width: 100%;
    height: min-content;
  }

  .allover {
    flex-direction: column;
    display: flex;
  }

  .quote h2 {
    font-size: 13px;
  }

  .button-1 {
    align-items: center;
    padding: 5px 5px 5px 5px;
    margin-bottom: 10px;
  }

  .getbtn {
    width: 100%;
    height: min-content;
  }

}

.freq {
  width: 100%;
  height: 800px;
}

.ask {
  padding-left: 110px;
  padding-top: 20px;
  float: left;
  width: 30%;
}

.ask h2 {
  font-size: 35p0x;

}

#panel,
#panel2,
#panel3,
#panel4,
#panel5 {

  font-size: 20px;
  display: none;
}

.lists {
  width: 60%;
  height: min-content;
  float: right;
  color: black;
  padding: 5px;
}

.list:hover {
  cursor: pointer;
}

.list h2 {
  font-size: 20px;
  margin-top: 30px;
}

@media only screen and (max-width: 930px) {
  .ask {
    width: 100%;
    height: 100px;

  }

  .lists {
    width: 100%;
    height: 300px;

    float: left;
  }

  .list h2 {
    font-size: 15px;
  }

}


.allcard {
  margin-left: 110px;
}

.card {
  margin-left: 30px;
  float: left;
  transition: 1s;
  position: relative;
  overflow: hidden;
  margin-top: 140px;
}

.card:hover {
  transform: scale(1.05);
  opacity: 1;
}

.cardtwo {
  float: right;
}

.blog {
  background-image: url(img\ bg.jpg);
  width: 100%;
  height: 1700px;
  background-color: rgb(32, 31, 31)
}

.cardthree {
  float: right;
}

.like {
  font-size: 20px;
  color: white;
  margin-top: 800px;
  text-align: center;
}

.letwork {
  width: 100%;
}
.rgform{
  width: 400px;
  height: min-content;
  background-color: rgb(34, 32, 32);
}
.let {
  margin-top: 200px;
  width: 40%;
  color: white;
  float: left;
  padding-left: 60px;
}

.rgform {
  float: right;
  margin-right: 80px;
}

label {
  color: white;
}

input {
  color: rgb(247, 243, 243);
  border-style: none;
  background: none;
}

.rgform button {
  background: linear-gradient(45deg, #8481FA, #38C9C8);
  border-radius: 6px;
  margin-right: 60px;
  color: white;
  border-style: none;
  font-size: 20px;
}
@media only screen and (max-width: 930px) {
  .blog {
    width: 100%;
    height: 2770px;

    background-color: rgb(32, 31, 31)
  }
  .rgform{
    width: 250px;
    height: min-content;
  }
}
